@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

$color-green: rgba(0, 192, 19, 1);
$color-grey: rgba(48, 48, 48, 1);;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body, html{
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.btn-normal {
  width: 323px;
  height: 52px;
  border-radius: 69px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
.container {
  max-width: 1440px;
  padding: 0.5rem;
  position: relative;
  margin: 0 auto;
}
section {
  margin-top: 0.5rem;
  border-radius: 19px;
  padding: 1rem;
  h2 {
    color: $color-green;
    font-size: 2.23rem;
    font-weight: 800;
    span {
      color: rgba(255, 209, 46, 1);
    }
  }
  p {
    font-size: 1.23rem;
  }
}
header {
  position: fixed;
  width: calc(100% - 1rem);
  margin-top: -0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  z-index: 99;
  .menu-btn {
    .menu-icon {
      //transform: scale(1.5);
    }
  }

  :root {
    --bar-bg: #212529;
  }

  .menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .menu-icon__cheeckbox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
    }
    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 28px;
      height: 6px;
    }
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--bar-bg, #000);
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

      &:first-of-type {
        top: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }
    &.active,
    .menu-icon__cheeckbox:checked + div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 1px;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 4px;
        }
      }
    }

    &.active:hover span:first-of-type,
    &.active:hover span:last-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
      width: 28px;
    }

    &:hover {
      // no need hover effect on mobile.
      @media (min-width: 1024px) {
        span:first-of-type {
          width: 30px;
        }

        span:last-of-type {
          width: 12px;
        }
      }
    }
  }
  .menubar {
    display: none;
    z-index: 99;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    ul {
      li {
        margin-bottom: 1rem;
        a {
          color: black;
          text-decoration: none;
          font-size: 2rem;
        }

      }
    }
  }
  .menu-icon__cheeckbox:checked ~ .menubar {
    display: flex;
    transform: translate3d(0vw, 3.5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}
#general-info {
  background-color: rgba(248, 248, 248, 1);
  padding: 1rem 1.85rem;
  h2 {
    span {
      color: black;
      font-weight: 300;
    }
  }
  h4 {
    font-size: 0.92rem;
    font-weight: 200;
  }
}
#team {
  background: center / contain no-repeat url("imgs/team-image.jpg");
  height: 417px;
  h3 {
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    padding: 11rem 0 0;
  }
  ul {
    list-style-type: disc;
    margin: 0 0 0 2rem;
    color: white;
    li {
      margin-bottom: 0.5rem;
      //line-height: 0.5;
      ::marker {
        margin-top: 0.5rem;
      }
      p {
        color: white;
        font-size: 1rem;
        margin: 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
.special-conditions {
  background-color: rgba(248, 248, 248, 1);
  .condition {
    margin-bottom: 2rem;
    .cond-name {
      font-size: 0.85rem;
      margin: .5rem 0;
    }
    .oval {
      font-size: 0.85rem;
      font-weight: 700;
      border: 1px solid rgba(161, 161, 161, 1);
      border-radius: 31px;
      padding: 0.5rem 1rem;
    }
    .cond-text {
      font-size: 2rem;
      font-weight: 800;
      margin: .5rem 0;
      .crossed {
        position: relative;
        font-weight: 400;
        color: rgba(160, 159, 159, 1);
        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          right: 0;
          border-top: 1px solid;
          border-color: red;

          -webkit-transform:rotate(-5deg);
          -moz-transform:rotate(-5deg);
          -ms-transform:rotate(-5deg);
          -o-transform:rotate(-5deg);
          transform:rotate(-5deg);
        }
      }
      .vals {
        font-weight: 300;
      }
    }
  }
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .success {
      background-color: $color-green;
      color: white;
    }
    .under-btn-text {
      font-size: 0.77rem;
      color: $color-green;
      width: 276px;
      text-align: center;
    }
  }
}

.institutes {
  h4 {
    font-size: 0.77rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem auto;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
      height: 45px;
      width: 50%;
      margin-bottom: 2rem;
    }
  }
}

.history {
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  align-items: center;
  .thesis{
    width: 30%;
    font-size: 0.92rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .description {
    width: 70%;
    font-weight: 300;
    font-size: 0.65rem;
  }
}

#client-description {
  padding: 0;
  background-color: rgba(248, 248, 248, 1);
  .heading {
    padding: 1rem 1rem 2rem;
    border-bottom: 1px solid rgba(211, 211, 211, 1);
    h2 {
      width: 80%;
    }
    h4 {
      font-size: 1rem;
      font-weight: 400;
      span {
        font-weight: 700;
      }
    }
  }
  @for $i from 1 through 3 {
    .course-wrap:nth-of-type(#{$i+1}) {
      margin: 1rem;
      padding: 1rem;
      width: calc(100% - 4rem);
      background: rgba(255, 255, 255, 1);
      border-radius: 24px;

      .course-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          width: 71%;
          font-size: 1.3rem;
          font-weight: 500;
          text-transform: uppercase;
          color: $color-green;
        }

        .bubble {
          width: 3.46rem;
          height: 3.46rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 209, 46, 1);
          border-radius: 25px;
          font-size: 1.15rem;
        }
      }

      .image-block {
        width: 100%;
        height: 162px;
        border-radius: 21px;
        background: center / cover no-repeat url("imgs/course#{$i}.jpg");
      }
      .citation {
        margin-top: 1rem;
        ul {
          list-style: disc;
          padding-left: 1rem;
          li {
            font-size: 1.07rem;
            color: rgba(108, 108, 108, 1);
          }
        }
      }
    }
  }
  .more-info{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-top: 1px solid rgba(211, 211, 211, 1);
    .visual-block {
      .head-block {
        display: flex;
        justify-content: space-between;
        h4 {
          font-size: 1.77rem;
          text-transform: lowercase;
        }
      }
      .illustration {
        img {
          border-radius: 50%;
        }
      }
    }
    .text-block {
      h4 {
        margin-bottom: 1rem;
        font-size: 1.33rem;
        font-weight: 500;
        color: $color-green;
        text-transform: uppercase;
      }
      p {
        font-size: 1.07rem;
        color: rgba(108, 108, 108, 1);
      }
      ul {
        list-style-type: disc;
        margin: 0 0 0 2rem;
        li {
          color: rgba(108, 108, 108, 1);
        }
      }
    }
  }
}

.info-team {
  p {
    font-size: 1.23rem;
    color: $color-grey;
  }
  .important {
    font-weight: 600;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.course-includes {
  background-color: rgba(248, 248, 248, 1);
  .oval {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 31px;
    font-size: 1.23rem;
    font-weight: 400;
    span {
      font-weight: bold;
    }
  }
}
.modules {
  background-color: white;
  padding: 1rem 0;
  @for $i from 1 through 8 {
    .module-#{$i} {
      background-color: rgba(248, 248, 248, 1);
      margin-top: 0.5rem;
      border-radius: 19px;
      padding: 1rem;
      .module-head {
        .oval {
          display: inline-block;
          margin: 0 1rem 0.5rem 0;
          padding: 0.5rem 1rem;
          border: 1px solid rgb(161, 161, 161);
          border-radius: 31px;
          font-size: 1.46rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .text-block {
        h3 {
          font-size: 2.23rem;
          color: $color-green;
        }

        p {
          font-size: 1.23rem;
          color: $color-grey;
        }
      }

      .blurred-module {
        width: 100%;
        height: 162px;
        border-radius: 21px;
        background: center / cover no-repeat url("imgs/Module#{$i}.svg");
        //border: 0.5px solid rgba(0, 0, 0, 0.5)
      }
    }
  }
}

.warning {
  background-color: rgba(255, 209, 46, 1);
  border-radius: 19px;
  margin-top: 0.5rem;
  padding: 1rem;
  h3 {
    margin: 2rem 0 0;
    font-size: 2.23rem;
    font-weight: 600;
    color: $color-grey;
    text-transform: uppercase;
    span {
      color: white;
    }
  }
  p {
    font-size: 1.23rem;
    font-weight: 300;
  }
  .access {
    color: white;
    background-color: $color-grey;
    margin: 0 0 2rem;
  }
}

.summarize {
  background-color: rgba(248, 248, 248, 1);
  h2 {
    margin: 1rem;
    width: 85%;
    text-transform: uppercase;
    font-size: 2.23rem;
  }
  ul {
    margin: 0 0 0 1rem;
    list-style-type: disc;
    list-style-position: inside;
    li {
      color: rgba(108, 108, 108, 1);
      font-size: 1.23rem;
      margin-bottom: 1rem;
      &::marker {
        font-size: 1rem;
      }
    }
  }
}
#reviews {
  h2 {
    width: 74%;
  }
  p {
    color: $color-grey;
  }
  .review-wrap {
    background-color: rgba(248, 248, 248, 1);
    border-radius: 16px;
    padding: 1rem;
    margin-bottom: 1rem;
    .review-heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 37px;
        height: 37px;
        margin-right: 1rem;
      }
    }
    .rating {
      margin-top: 1rem;
    }
    .review {
      font-size: 1rem;
    }
  }
}

#faq {
  background-color: rgba(248, 248, 248, 1);
  p {
    font-weight: 300;
    color: $color-grey;
  }
  .toggle-down {
    margin-bottom: 1rem;
    .wrapper {
      overflow: hidden;
    }

    .answer {
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 16px;
      border-radius: 12px;
      border: 1px solid rgba(217, 217, 217, 1);
      visibility: visible;
      opacity: 1;
      font-size: 1.07rem;
      transition: visibility .3s linear, opacity .3s ease, margin-top .3s ease, height .3s ease;
    }

    .body {
      flex: 1;
    }

    .check {
      visibility: hidden;
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .check:checked + .answer {
      height: 0;
      margin-top: -40px; /* if your collapsible element has padding, use the top & bottom padding value */
      visibility: hidden;
      opacity: 0;
    }

    .question {
      padding: 0.7rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(217, 217, 217, 1);
      font-size: 1.07rem;
      cursor: pointer;
      background-color: rgba(217, 217, 217, 1);
      border-radius: 12px;
      p {
        width: 90%;
        margin: 0 auto;
      }
      img {
        width: 19px;
        height: 19px;
      }
    }
  }
}
footer {
  background: rgba(248, 248, 248, 1);
  padding: 2rem 1rem;
  ul {
    li {
      margin-bottom: 1rem;
      a {
        color: rgba(130, 130, 130, 1);
        font-weight: 700;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  #general-info {
    h4 {
      text-align: center;
    }
  }
  #team {
    background: center/cover no-repeat url("imgs/team-image.jpg");
    height: 417px;
  }
  .special-conditions {
    .condition {
      margin: 0 auto 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  #client-description {
    .more-info {
      .head-block {
        justify-content: center;
        h4 {
          margin-right: 1rem;
        }
      }
      .illustration {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media screen and (min-width: 860px) {
  body{
    font-size: 15px;
  }
  section {
    h2 {
      margin: 1rem auto;
      width: 75%;
      text-align: center;
    }
  }
  .whole-part {
    display: flex;
    flex-wrap: wrap;
  }
  #general-info {
    width: calc(100% - 361px - 6rem);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h4 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
  #team {
    width: 361px;
  }
  .institutes {
    h4 {
      font-size: 1rem;
    }
    .logos {
      flex-wrap: nowrap;
    }
  }
  .history {
    padding: 1rem 20%;
  }
  .special-conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .condition {
      width: 32%;
    }
  }

  #client-description {
    display: flex;
    flex-wrap: wrap;
    .heading {
      h4 {
        padding: 1rem 20%;
      }
    }
    @for $i from 1 through 3 {
      .course-wrap:nth-of-type(#{$i+1}) {
        width: calc((100% - 12rem)/3);
        .course-heading {
          justify-content: center;
          h3 {
            width: 75%;
            min-height: 59px;
          }
        }
        .citation {
          margin-top: 1rem;

          ul {
            list-style: disc;
            padding-left: 1rem;

            li {
              font-size: 1.07rem;
              color: rgba(108, 108, 108, 1);
            }
          }
        }
      }
    }
    .more-info {
      display: flex;
      width: 100%;
      .visual-block {
        width: 50%;
        .head-block {
          justify-content: space-around;
          picture {
            img {
              margin-top: 3rem;
            }
          }
        }
      }
      .text-block {
        width: 50%;
        h4 {
          margin-top: 3rem;
        }
      }
    }
  }
  .info-team {
    display: flex;
    flex-wrap: wrap;
    .full-part {
      padding: 0.5rem;
      display: flex;
      width: calc((100% - 394px - 2rem) / 2);
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }
    img {
      width: 394px
    }
  }
  .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @for $i from 1 through 8 {
      .module-#{$i} {
        width: 46%;
      }
    }
    .warning {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
  #reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    p {
      width: 100%;
      text-align: center;
    }
    .review-wrap {
      width: 30%;
      margin-right: 1%;
      &:nth-of-type(3) {
        margin-right: 0;
      }
      .review-heading {
        p {
          text-align: unset;
        }
      }
    }
  }
  #faq {
    p {
      text-align: center;
    }
    .toggle-down {
      width: 600px;
      margin: 0 auto 1rem;
    }
  }
}
@media screen and (min-width: 1280px) {
  header {
    max-width: 1440px;
  }
  #general-info {
    h2 {
      font-size: 4rem;
    }
    h4 {
      font-size: 2rem;
    }
  }
  #client-description {
    .heading {
      width: 100%;
      h4{
        padding: 1rem 18%;
      }
    }
  }
  .course-includes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h2 {
      width: 45%;
    }
    .oval {
      margin: 0 1rem 0 0;
    }
  }
  .modules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @for $i from 1 through 8 {
      .module-#{$i} {
        width: 23%;
        .text-block {
          h3 {
            height: 67px;
          }
          p {
            height: 56px;
          }
        }
      }
    }
  }
  .summarize {
    ul {
      margin: 0 0 0 23%;
    }
  }
}
