
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin align-items($val) {
  -webkit-box-align: $val;
  -ms-flex-align: $val;
  align-items: $val;
}
@mixin justify-content($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}
@mixin flex-direction($val) {
  -webkit-flex-direction: $val;
  -ms-flex-direction: $val;
  flex-direction: $val;
}

$colors: (rgb(225,232,237), rgb(170,184,194), rgb(101,119,134), rgb(40,50,52), rgb(29,161,242), rgb(234,19,102));
@for $i from 1 through 6 {
  .statistic-row .col-sm-6 ul li:nth-child(#{$i}) svg {
    color: nth($colors, $i);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.left-side-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  background: #282d35;
}
.left-side {
  position: fixed;
  background: #282d35;
  width: inherit!important;
  height: 100%!important;
}
.dashboard-main-wrapper>.ajax-content-container, .main-side {
  height: 100%;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}
.dashboard-main-wrapper {
  display: inline-block;
  height: 100%;
  padding: 24px;
}
.main-side {
  padding: 24px;
  height: 100%;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;

  .unavailable-wrapper {
    @include flexbox();
    min-height: 95%;
    @include align-items(center);
    .inner {
      width: 100%;
      #filter-row {
        @include flexbox();
        margin: 25px 0;
      }
    }
  }
}
.dash-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  color: #282d35;
  padding-bottom: 10px;
  border-bottom: solid 1px #cfd8dc;
  background: #fff;
}

.icon-font-offer, h1, h2, h3, h4, h5, h6, p, span {
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans",Arial;
}



.form-group {
  position: relative;
  display: inline-block;
  margin-right: 2%;
  margin-left: 0;
  padding: 0;
  &:nth-child(3) {
    width: 28%;
    max-width: 28%;
  }
}

.form-control {
  position: relative;
  height: 48px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e1e8ed;
  color: #282d35;
  padding: 11px 24px 0;
  -webkit-transition: padding .4s;
  transition: padding .4s;
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  border-radius: 4px;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &+.input-placeholder {
      font-size: 11px;
      -webkit-transform: translate(0,-18px);
      transform: translate(0,-18px);
      color: rgb(101,119,134);
    }
  }
}
.input-placeholder {
  font-size: 12px;
  color: #657786;
  position: absolute;
  top: 50%;
  left: 30px;
  cursor: text;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color .4s,font-size .4s,-webkit-transform .4s;
  transition: color .4s,font-size .4s,-webkit-transform .4s;
  transition: transform .4s,color .4s,font-size .4s;
  transition: transform .4s,color .4s,font-size .4s,-webkit-transform .4s;
}
.dropdown-toggle {
  position: relative;
  height: 48px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e1e8ed;
  color: #282d35;
  padding: 11px 24px 0;
  -webkit-transition: padding .4s;
  transition: padding .4s;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  line-height: 1.75;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 4px;
  &:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &+.dropdown-placeholder {
      font-size: 11px;
      -webkit-transform: translate(0,-18px);
      transform: translate(0,-18px);
      color: rgb(101,119,134);
    }
  }
  &:hover,
  &:active {
    color: #282d35;
    background-color: #fff;
    border-color: #66afe9;
    text-decoration: none;
  }
  &:after {
    content: "\02C5";
    border: none;
    height: 48px;
    font-size: 1.7em;
  }
  h5 {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  //&:focus {
  //  border-color: #66afe9;
  //  outline: 0;
  //  -webkit-box-shadow: none;
  //  box-shadow: none;
  //
  //}
}

.dropdown-placeholder {
  font-size: 14px;
  color: #657786;
  position: absolute;
  top: 50%;
  left: 25px;
  cursor: text;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color .4s,font-size .4s,-webkit-transform .4s;
  transition: color .4s,font-size .4s,-webkit-transform .4s;
  transition: transform .4s,color .4s,font-size .4s;
  transition: transform .4s,color .4s,font-size .4s,-webkit-transform .4s;
}
.activated  {
    font-size: 11px;
    -webkit-transform: translate(0,-18px);
    transform: translate(0,-18px);
    color: rgb(101,119,134);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.next-button-block {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  max-width: 16%;
  span {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    height: 48px;
    padding: 11px 20px;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    border: none;
    background-color: #1da1f2;
    cursor: pointer;
    -webkit-transition: background-color .4s,opacity .4s;
    transition: background-color .4s,opacity .4s;
  }
}
.info-row {
  @include flexbox();
  .col-sm-6 {
    padding: 0;
    display: inline-block;
    .building{
      padding-right: 5%;
      padding-bottom: 15%;
      max-width: 49%;
      vertical-align: top;
      border-right: 1px solid rgb(225,232,237);
      .dash-title {
        font-size: 16px;
        @include flexbox();
        @include justify-content(space-between);
        p {
          display: inline;
          margin-bottom: 0;
        }
        svg {
          color: rgb(225,232,237);
        }
      }
      ul {
        list-style: none;
        li {
          height: 48px;
          @include flexbox();
          @include align-items(center);
          padding-left: 10%;
          font-size: 14px;
          &:hover {
            color: white;
            background-color: #1da1f2;
          }
        }
      }
    }
    .abonents {
      padding-left: 5%;
      vertical-align: top;
      max-width: 49%;
      .dash-title {
        font-size: 16px;
        @include flexbox();
        @include justify-content(space-between);
        p {
          display: inline;
          margin-bottom: 0;
        }
      }
      ul {
        list-style: none;
        border-bottom: 1px solid rgb(225,232,237);
        padding-bottom: 10%;
        li {
          height: 48px;
          @include flexbox();
          @include align-items(center);
          padding-left: 10%;
          font-size: 14px;
          &:active {
            color: white;
            background-color: #1da1f2;
          }
        }
      }
    }
    &:nth-child(2) {
      padding-left: 2%;
    }
    .row {
      margin: 0;
      height: 70px;
      border: 1px solid rgb(225,232,237);
      .building-address {
        display: block;
        width: 100%;
        font-size: 1.5em;
        margin-bottom: 0;
        padding: 3% 5%;
      }
      .characteristic {
        position: relative;
        color: #282d35;
        padding: 2% 5%;
        -webkit-transition: padding .4s;
        transition: padding .4s;
        display: block;
        line-height: 1.75;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        background-color: #fff;
        border-radius: 4px;
        .build-attr {
          display: block;
          font-size: 0.8rem;
          color: rgb(101,119,134);
        }
        .build-value {
          display: block;
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
      &:nth-child(2),
      &:nth-child(4){
        border-top: none;
        border-bottom: none;
      }
    }
    .statistic-row {
      @include flexbox();
      border: 1px solid rgb(225,232,237);
      .col-sm-6 {
        padding: 5%;
        .donut-container {
          width: 150px;
          height: 150px;
          margin-bottom: 12%;
          float: left;
          -webkit-border-radius: 105px;
          -moz-border-radius: 105px;
          border-radius: 105px;
          margin-right: 30px;
          .donut-inner {
            width: 75px;
            height: 75px;
            position: relative;
            top: 37px;
            left: 37px;
            background: #FFF;
            -webkit-border-radius: 65px;
            -moz-border-radius: 65px;
            border-radius: 65px;
          }
        }
        h5 {
          text-transform: uppercase;
          font-size: 0.9rem;
        }
        ul {
          margin-top: 8%;
          height: 170px;
          list-style: none;
          font-size: 0.8rem;
          @include flexbox();
          @include justify-content(space-between);
          @include flex-direction(column);
          li {
            p {
              display: inline;
            }
            svg {
              margin-right: 8%;
            }
          }
        }
      }
    }
    #id-row {
      .ident {
        display: block;
        background-color: rgb(225,232,237);
        width: 100%;
        font-size: 1.2em;
        margin-bottom: 0;
        padding: 3% 5%;
      }
    }
  }
}